.header-container {
    width: 100%;
    padding: 1.3rem;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.3);
}

.logo {
    width: fit-content;
    margin-left: 7rem;
}

.logo h1 {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9 );
    filter: brightness(0.9);
    font-size: 1.5rem;
}

.logo h1:hover {
    filter: brightness(1.5);
}

.logo button {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.5em;
}

.logo button:hover {
    cursor: pointer;
}

.logo button:active {
    transform: scale(1.1);
}

.email-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
}

.logout-button {
    width: 4rem;
    height: 2rem;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--cor-fonte);
    background-color: rgba(255, 0, 0, 0.9);
    
    font-weight: 500;
    font-size: 1.1rem;
    
}

.logout-button:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

.logout-button:active {
    transform: scale(1.1);
}