.home-bg {
    display: flex;
    flex-direction: column;
    margin: 5vh auto ;
    width: 59vw;
    height: fit-content;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.home-title {
    margin-bottom: 2vh;
    font-size: 1.7rem;
    font-weight: 600;
}



.search-container {
    gap: 0.6vh;
    
}

.search-input-wrapper {
    display: flex;
    flex-direction: row;   
    gap: 0.5vw;
}

.search-field {
    width: 20vw;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    margin-bottom: 2vh;
}

.search-button {
    height: 1.9em;

    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--cor-fonte);
    background-color: var(--cor-ativa);

    font-size: 1rem;
    font-weight: 500;
}

.search-button:hover {
    background-color: var(--cor-ativa);
    filter: brightness(1.1);
}

.cadastro-button {
    height: 1.9em;
    margin-left: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--cor-fonte);
    background-color: var(--cor-ativa);

    font-size: 1rem;
    font-weight: 500;
    
    text-decoration: none;
}

.no-style-link {
    text-decoration: none; 
    color: inherit; 
    font: inherit; 
}


.cadastro-button:hover {
    
    background-color: var(--cor-ativa);
    filter: brightness(1.1);
}



.search-button:active {
    transform: scale(1.1);
}

.itens-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 65vw;
    height: fit-content;
    
    gap: 2vh;

    margin-left: auto;
    
}